.kg-row {
  margin: 2px 5px;
}

.kg-button {
  min-width: 60px;
  border: 2px;
  border-radius: 10px;
  margin-right: 20%;
}

input {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 6px;
}

.container {
  text-align: left;
  margin-left: 10px;
}
